.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(113, 119, 144, 0.25);
    padding: 10px 30px;
}

@media screen and (max-width: 550px) {
    .header {
        padding: 10px 15px;
    }
}