.about-me {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-image: url("../../../../pictures/texture.png"), linear-gradient(to right top, #cf4af3, #e73bd7, #f631bc, #fd31a2, #ff3a8b, #ff4b78, #ff5e68, #ff705c, #ff8c51, #ffaa49, #ffc848, #ffe652);
    border-radius: 15px;
    padding: 20px 40px;
}

.about-me__text {
    max-width: 340px;
    line-height: 20px;
}

.about-me__sup-text {
    font-size: 16px;
    padding-bottom: 15px;
}

.about-me__sub-text {
    font-size: 15px;
}
.about-me__img-box{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    max-height: 200px;
}
.about-me__img {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 800px) {
    .about-me__img-box {
        display: none;
    }

    .about-me__text {
        max-width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .about-me {
        padding: 15px;
    }

    .about-me__sup-text {
        font-size: 16px;
    }

    .about-me__sub-text {
        font-size: 13px;
    }

    .button {
        font-size: 12px;
    }
}

@media screen and (max-width: 380px) {
    .about-me__sup-text {
        font-size: 15px;
    }
}