.certificate-cards__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 15px;
    border-radius: 15px;
    background-color: rgba(146, 151, 179, 0.13);
    border: 1px solid rgba(16, 18, 27, 0.3);
    padding: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    min-width: 230px;
    flex: 1 1 25%;
}

.certificate-cards__item:hover {
    background-color: rgba(16, 18, 27, 0.3);
}

.certificate-cards__top-box{
    display: flex;
    align-items: center;
}

.certificate-cards__description {
    font-size: 15px;
    line-height: 1.6em;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(113, 119, 144, 0.25);
}

.certificate-cards__icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.certificate-cards__button-box {
    margin-left: auto;
}

@media screen and (max-width: 550px) {
    .certificate-cards__item {
        font-size: 12px;
        padding: 10px;
    }

    .certificate-cards__description {
        font-size: 12px;
    }
}