.work_list {
    list-style: none;
    margin-bottom: 15px;
    padding: 0px;
    background-color: rgba(146, 151, 179, 0.13);
    border: 1px solid rgba(16, 18, 27, 0.3);
    border-radius: 15px;
    overflow: auto;
}