.header__buttons {
    display: flex;
    justify-content: space-between;
}

.header__button-item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.header__button-item:not(:last-child){
    margin-right: 10px;
}
.header__button-item--red {
    background-color: #f96057;
    cursor: pointer;
}

.header__button-item--yellow {
    background-color: #f8ce52;
}

.header__button-item--green {
    background-color: #5fcf65;
    cursor: pointer;
}

.header__button-item--green:hover {
    background-color: #4cea54;
}

.header__button-item--red:hover {
    background-color: #f5453b;
}