.work_item {
    padding: 10px 15px;
    transition: 0.3s;
}

.work_item:nth-child(1n) {
    border-bottom: 0.5px solid rgba(113, 119, 144, 0.25);
}

.work_item:hover {
    background-color: rgba(16, 18, 27, 0.3);
}

.work_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 14px;
}

.company_block {
    display: flex;
    align-items: center;
    width: 200px;
}

.position_block {
    display: flex;
    align-items: center;
    width: 200px;
    margin-left: -50px;
}

.marker {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #f96057;
}

.green_marker {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #5fcf65;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

@media screen and (max-width: 800px) {
    .position_block {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .work_item {
        padding: 10px;
        font-size: 12px;
    }

    .icon {
        margin-right: 10px;
    }
}

@media screen and (max-width: 350px) {
    .icon {
        max-width: 25px;
        max-height: 25px;
        margin-right: 10px;
    }
}